{% extends 'account/base.html' %}
{% load static %}


    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}">
    {% endblock %}

    {% block body %}
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="text-area">
                <input type="email" name="login" id="id_login" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-area">
                <input type="password" name="password" id="id_password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">
                <a href="#">Forgot Password?</a>
            </div>
            <input type="submit" value="Login">
            <div class="signup-link">
                Not a member? <a href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </form>
    </div>

    <!-- Include your static JavaScript file here -->
    <script src="{% static '/js/scripts.js' %}"></script>
    {% endblock %}