{% extends 'account/base.html' %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}">
    {% endblock %}
    <!-- Include your static CSS file here -->
    
</head>
<body>
    {% block body %}
    <div class="center">
        <!-- {% if messages %}
        <div>
          <strong>{% trans "Messages:" %}</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} -->
        <h1>Sign up</h1>
        <form action="{% url 'account_signup' %}" method="post">
            {% csrf_token %}
            <div class="text-area">
                <input type="email" name="email" id="id_email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-area">
                <input type="password" name="password1" id="id_password1" required>
                <span></span>
                <label>Password</label>
            </div>
            
            <div class="text-area">
                <input type="password" name="password2" id="id_password2" required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            
            <input type="submit" value="Sign up">
            <div class="signup-link">
                Already a member? <a href="{% url 'account_login' %}">Login</a>
            </div>
        </form>
    </div>

    <!-- Include your static JavaScript file here -->
    <script src="{% static '/js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>